<mat-card>
    <h1 class="ml10 mt10">Update Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrpper">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <!-- {{updateCategory | json}} -->
                        <form (ngSubmit)="formSubmit()" >
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Category Id</mat-label>
                                <input required autofocus [(ngModel)]="updateCategory.cid" name="cid" matInput  placeholder="Enter category cid here" value="{{updateCategory.cid}}" [readonly]="true">
                            </mat-form-field>
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Title</mat-label>
                                <input required autofocus [(ngModel)]="updateCategory.title" name="title" matInput  placeholder="Enter category title here" value="{{updateCategory.title}}">
                            </mat-form-field>

                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea [(ngModel)]="updateCategory.description" name="description" rows="5"  matInput placeholder="Enter category description here" value="{{updateCategory.description}}"></textarea>
                            </mat-form-field>

                            <div class="container text-center">
                                <button mat-raised-button color="primary">  Update  </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>