<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>Examportal</span>
    <span class="example-spacer"></span>
    <a 
      *ngIf="!isLoggedIn"
    [routerLink]="'/login'" mat-icon-button class="mr10" aria-label="Example icon-button with heart icon">
      login
    </a>
    <a 
    *ngIf="!isLoggedIn"
    [routerLink]="'/signup'" mat-icon-button class="ml10 mr10"aria-label="Example icon-button with share icon">
      register
    </a>
    <a 
    *ngIf="isLoggedIn && user"
    routerLink="/admin/profile"
     mat-icon-button class="ml10 mr30"aria-label="Example icon-button with share icon">
      {{user.userName}}
    </a>
    <a 
    (click)="logout()"
    *ngIf="isLoggedIn"
     mat-icon-button class="ml20 mr10"aria-label="Example icon-button with share icon">
      logout
    </a>
   
    <button mat-icon-button aria-label="Example icon-button with share icon">
        
    </button>
  </mat-toolbar>
  