<mat-card *ngIf="user">
    <!-- {{user | json}} -->
    <mat-card-content>
        <h1 class="text-center">Your profile Details</h1>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="" class="profile-img">
                    <h1 class="mt20">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- table details -->
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.userName}}</td>
                            </tr>
                            <tr>
                                <td>User Id</td>
                                <td>Exam{{user.id}}</td>
                            </tr>
                            <tr>
                                <td>Phone No.</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 mt10 mb50">
                    <button mat-raised-button color="primary" class="ml10 mr10">Update</button>
                    <button mat-raised-button color="accent" class="ml10 mr10">Share</button>
                </div>
            </div>
        </div>


    </div>
</mat-card>