.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url("../../../../assets/quiz_logo.png");
    background-size: cover;
  }