<div class="bootstrap-wrapper">
    <div class="conatainer">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card >
                    <mat-card-content>
                        <div class="container text-center">
                            <img src="../../../assets/examportallogo.png" alt="">
                        </div>
                        <h1 class="text-center">Login here !!</h1>
                        <!-- {{loginData | json}} -->
                        <form (ngSubmit)="formSubmit()">
                            <!-- username -->
                            <mat-form-field class="full-width"  appearance="outline">
                                <mat-label>User Name</mat-label>
                                <input required [(ngModel)]="loginData.userName"  name="userName" matInput placeholder="Enter here">
                                <mat-hint>Valid username</mat-hint>
                            </mat-form-field>
                            <!-- password -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" required [(ngModel)]="loginData.password" name="password" matInput placeholder="Enter here">
                            </mat-form-field>
        
                            <div class="container text-center ">
                                <button mat-raised-button color="primary" type="submit">Login</button>
                                <button mat-raised-button color="accent" class="ml20">Reset</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>