<mat-card >
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <!-- Home -->
        <button mat-list-item routerLink="/admin/"><mat-icon mat-list-icon>home</mat-icon> Home</button>
        <!-- profile -->
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>account_circle</mat-icon> Profile</button>
        <!-- category -->
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>list</mat-icon> Categories</button>
        <!-- add category -->
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>add_circle_outline</mat-icon> Add Category</button>
        <!-- quizes -->
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>quiz</mat-icon> Quizes</button>
        <!-- add quiz -->
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>add_box</mat-icon> Add Quiz</button>
        <!-- logout -->
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>logout</mat-icon> Logout</button>
        
    </mat-action-list>
</mat-card>